<?xml version='1.0' encoding='utf-8'?>
	<widget id="com.phonegap.helloworld"
	version="1.0.0"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0">
		<name>Arcos App</name>
		<description>
			En proceso.
		</description>
		<author email="j.delcampo.a@gmail.com" href="https://github.com/jorgedelcampo/app_test.git">
			Jorge del Campo
		</author>
		<content src="index.html" />
		<access origin="*" />
	</widget>
